
<head>
	<title>table</title>
	<style>
        
		table{
			border-collapse: collapse;    
		}
	th,td{
		border: 2px solid green; 
		padding: 15px;
	}
			 
	</style>
  </head>
  <body>
<table class="center">
    <tr>
    <th>id</th>
    <th>name</th>
    <th>address</th>
    <th>branch</th>
    <th>fee</th>
    <th colspan=3 style="width: 200px;">Query</th>
</tr>
    <tr *ngFor="let x of result">
        <td>{{x.id}}</td>
        <td>{{x.name}}</td>
        <td>{{x.address}}</td>
        <td>{{x.branch}}</td>
        <td>{{x.fee}}</td>
        <td><button type="button" class="btn btn-primary" (click)="dele(x.id)">Delete</button></td>
        <td><button type="button" class="btn btn-secondary" (click)="editi(x.id)">Edit</button></td>
            <td><button type="button" class="btn btn-success" (click)="row(x.id)">view</button></td>
    </tr>
</table>
<h3><button type="button" class="btn btn-info" [routerLink]="'/post'">Insert</button></h3>
</body>

